body {
  margin: 0;
  height: 2000px;
  background: black;
}
section {
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/5aecc44d-2a1f-4313-8399-98df20908b64/47e9a72c-4e54-4be7-993f-91413ee2dd47/KR-ko-20221114-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
  height: 100vh;
}
section:before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}
h1 {
  color: white;
  position: absolute;
  font-size: 5em;
  top: 200px;
  left: 100px;
  font-family: sans-serif;
}
